@font-face {
    font-family: UTM-Avo-Regular;
    src: url(../utm-avo/utm-avo-regular.woff);
    font-weight: bold;
}

@font-face {
    font-family: UTM-Avo-Bold;
    src: url(../utm-avo/utm-avobold.woff);
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: UTM-Avo-Regular;
    width: 100%;
    height: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.header {
    width: 100%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.header-top {
    width: 100%;
    height: 30px;
    background: #293c92;
    float: left;
}

.ic-fb {
    background: url(../image/fb-ic.png) no-repeat 30px 8px;
    color: #fff;
    font-size: 14px;
    padding: 5px 60px;
}

.ic-phone {
    background: url(../image/ic-phone.png) no-repeat 0px;
    color: #fff;
    font-size: 12px;
    padding: 5px 35px 5px 20px;
}

.header-content {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #b92e2f;
    position: relative;
}

.english-logo {
    margin-left: 50px;
    margin-top: 5px;
}

.header-navigation {
    margin-left: 50px;
}

.header-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.header-navigation li {
    float: left;
}

.header-navigation li a {
    display: block;
    color: #505050;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 30px 21px;
    font-size: 18px;
    text-decoration: none;
}

.header-navigation li a.active {
    background: url(../image/Triangle.png) no-repeat 50% 100%;
    font-family: UTM-Avo-Bold;
    color: #b92e2f;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.login-logout {
    font-size: 18px;
    font-family: UTM-Avo-Regular;
    display: table;
    height: 100%;
}

.register {
    display: table;
    margin-right: 60px;
    margin-top: 20px;
    margin-left: 30px;
}

.login {
    display: table;
    height: 100%;
}

.register button {
    border: none;
    background: none;
}

.login button {
    color: #fff;
    padding: 7px 25px;
    margin-top: 15px;
    background: #b92e2f;
    border-radius: 25px;
    border: none;
}

.body {
    width: 100%;
    height: auto;
    margin: auto;
}

.body-slider {
    width: 100%;
    height: 445px;
}

.body-content {
    width: 100%;
    height: auto;
    float: left;
}

.organizational {
    width: 100%;
    height: 110px;
    background: #ebebeb;
    margin-top: 5px;
}

.organizational p {
    color: #b92e2f;
    font-size: 18px;
    text-transform: uppercase;
    padding: 40px 0;
    margin-bottom: 0;
}

.organizational img {
    margin-top: 25px;
    width: 200px;
    height: 55px;
}

.stakeholder {
    width: 100%;
    height: 75px;
    background: #ebebeb;
    margin-top: 5px;
    margin-bottom: 30px;
}

.stakeholder p {
    color: #b92e2f;
    font-size: 18px;
    text-transform: uppercase;
    padding: 25px 0;
    margin-bottom: 0;
}

.stakeholder img {
    margin-top: 20px;
    width: 95px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 35px;
}

.stake1 {
    padding-left: 15px;
    margin-right: 170px;
}

.stake2 {
    margin-right: 150px;
}

.stake3 {
    margin-right: 125px;
}

.stake1:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.stake2:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.stake3:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.stake4:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.english-school {
    width: 100%;
    float: left;
    min-height: 475px;
    padding: 0 30px;
}

.english-champion-school {
    font-size: 24px;
    border-bottom: 2px solid #b92e2f;
    width: 100%;
    float: left;
}

.english-champion-school a {
    cursor: pointer;
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-family: UTM-Avo-Regular;
    color: #7e7e7e;
}

.english-champion-school a.viewed {
    font-family: UTM-Avo-Bold;
    color: #b92e2f;
    border-bottom: 5px solid #b92e2f;
}

.information-exam {
    border: 1px solid #e98283;
    border-radius: 10px;
    padding: 0;
    margin-right: 0.5%;
    max-width: 49%;
    max-height: 250px;
    float: left;
}

.next-exam {
    border: 1px solid #e98283;
    border-radius: 10px;
    padding: 0;
    margin-left: 0.5%;
    max-height: 250px;
}

.secondary-school {
    margin-top: 35px;
    padding: 0;
}

.secondary-school-hide {
    display: none;
}

.secondary-school h4 {
    padding: 5px 20px 15px 35px;
    text-transform: uppercase;
    font-size: 18px;
    color: #b92e2f;
    font-family: UTM-Avo-Regular;
    margin-bottom: 0;
    border-bottom: 1px solid #e98283;
}

.secondary-school p {
    color: #434343;
    font-size: 14px;
    font-family: UTM-Avo-Regular;
    padding: 15px 35px;
    height: 110px;
}

.secondary-school a {
    float: right;
    padding: 20px 30px;
    font-size: 14px;
    color: #b92e2f;
}

.high-school {
    margin-top: 35px;
    padding: 0;
    display: none;
}

.high-school-show {
    display: block;
}

.high-school h4 {
    padding: 5px 20px 15px 35px;
    text-transform: uppercase;
    font-size: 18px;
    color: #b92e2f;
    font-family: UTM-Avo-Regular;
    margin-bottom: 0;
    border-bottom: 1px solid #e98283;
}

.high-school p {
    color: #434343;
    font-size: 14px;
    font-family: UTM-Avo-Regular;
    padding: 15px 35px;
    height: 110px;
}

.high-school a {
    float: right;
    padding: 20px 30px;
    font-size: 14px;
    color: #b92e2f;
}

#high {
    float: right;
}

.english-action {
    width: 100%;
    float: left;
    height: 70px;
    margin: 30px 0;
}

.download-template {
    text-align: center;
}

.download-template button {
    width: 250px;
    height: 70px;
    background: #b92e2f url(../image/download.png) no-repeat 25px 15px;
    border: none;
    font-size: 24px;
    color: #fff;
    border-radius: 40px;
    padding-left: 50px;
}

.search-mark {
    background: url("../image/start.png") no-repeat 30px;
    height: 72px;
    width: 575px;
}

.search-mark p {
    padding-left: 70px;
    font-size: 24px;
    min-width: 570px;
    margin-bottom: 0;
    color: #b92e2f;
    float: left;
}

.search-name {
    float: left;
    width: 100%;
}

.search-mark input {
    float: left;
    margin-left: 70px;
    margin-top: 3px;
    width: 290px;
    border: 1px solid #b92e2f;
    padding: 5px 10px;
    border-radius: 10px;
}

.search-name button {
    padding: 5px 45px;
    margin: -5px 5px 0px 5px;
    background: #b92e2f;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    color: #fff;
}

.english-information {
    width: 100%;
    height: 490px;
    background: #293c92;
    float: left;
}

.english-information h3 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 30px;
    width: 100%;
    padding-top: 15px;
}

.english-library {
    width: 100%;
    height: 455px;
    float: left;
}

.english-library h3 {
    color: #b92e2f;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #b92e2f;
    padding-bottom: 10px;
}

.english-library .col-md-9 .col-md-12 {
    padding: 0;
}

.english-library .col-md-9 .col-md-4 img {
    width: 280px;
    height: 360px;
    border-radius: 5px;
}

/*.english-library .col-md-9 .col-md-4:nth-child(2){margin: 0 18px;}*/
.library-video {
    width: 280px;
    height: 170px;
    padding: 0;
}

.library-video iframe {
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
}

.adv {
    width: 100%;
    height: 395px;
    background: #9d0a0e;
    float: left;
}

.footer {
    width: 100%;
    height: auto;
    margin: auto;
}

.english-footer {
    float: left;
    background: url("../image/bg-footer.png") no-repeat bottom;
    min-height: 365px;
    width: 100%;
    background-size: 100%;
}

.footer-logo {
    float: left;
    margin: 35px 0 0 145px;
}

.footer-info {
    float: right;
    margin: 50px 100px 0 50px;
    width: 745px;
    padding: 0;
}

.footer-info .footer-info-title {
    border-bottom: 1px solid #b92e2f;
    padding: 0;
}

.footer-info .footer-info-title h3 {
    padding: 0;
    font-size: 14px;
    color: #b92e2f;
    font-family: UTM-Avo-Bold;
}

.field {
    padding: 0;
}

.field h3 {
    float: left;
    color: #b92e2f;
    font-family: UTM-Avo-Bold;
    font-size: 14px;
    padding: 0;
    margin-top: 10px;
}

.field p {
    float: left;
    padding: 0;
    color: #b92e2f;
    margin-top: 10px;
}

.license {
    float: left;
    margin-top: 45px;
    width: 100%;
    text-align: center;
}

.license p {
    font-size: 14px;
    color: #434343;
    margin-bottom: 35px;
}

.link {
    float: right;
    margin-right: 35px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect h2 {
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#w {
    display: block;
    max-width: 1170px;
    min-width: 280px;
    margin: 0 auto;
    padding-bottom: 35px;
}

#w header {
    display: block;
    padding-top: 15px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* display none until init */
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline; /*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50); /*IE7 fix*/
    opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100); /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    zoom: 1;
    display: none;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50); /*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100); /*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.item {
    width: 100%;
    height: 300px;
}

.owl-carousel {
    margin-top: 50px;
}

.owl-prev {
    position: absolute;
    top: 150px;
    left: -25px;
    background: url("../image/pre-copy-2.png") no-repeat !important;
    padding-bottom: 15px !important;
    height: 50px;
}

.owl-next {
    position: absolute;
    top: 140px;
    right: -25px;
    background: url(../image/next-copy-2.png) no-repeat 5px !important;
    padding-bottom: 15px !important;
    height: 35px;
    width: 20px;
}

/** posts slider widget **/
.crsl-items {
    display: block;
    padding: 5px;
}

.crsl-item {
    background: #fff;
    padding: 0px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    width: 275px !important;
    height: 400px !important;
}

/** posts slider nav **/
.slidernav {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    position: absolute;
    z-index: 9;
    margin-top: 180px;
}

.slidernav a {
    display: inline-block;
    padding: 5px 8px;
    margin-right: 8px;
}

.slidernav a:active {
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

/** media queries **/
@media screen and (max-width: 660px) {
    h1 {
        font-size: 2.4em;
        line-height: 1.2em;
    }

    .crsl-item h3 {
        font-size: 1.65em;
    }
}

/** clearfix **/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.previous {
    position: absolute;
    left: -30px;
    background: url(../image/pre-copy-2.png) no-repeat;
    height: 35px;
    color: transparent;
}

.next {
    position: absolute;
    right: -40px;
    background: url("../image/next-copy-2.png") no-repeat;
    color: transparent;
}

#navbtns {
    width: 1200px;
}

.crsl-top {
    width: 100%;
    height: 235px;
    background: #e4e4e4;
}

.crsl-image img {
    width: 100%;
    height: 235px;
}

.crsl-content {
    height: 165px;
    float: left;
}

.crsl-content h3 {
    color: #434343;
    font-size: 14px;
    font-family: UTM-Avo-Bold;
    padding: 15px;
    margin: 0;
    text-transform: none;
}

.crsl-content p {
    color: #434343;
    font-size: 14px;
    font-family: UTM-Avo-Regular;
    padding: 0 15px;
    margin: 0;
    text-transform: none;
}

.crsl-content p span {
    color: #b92e2f;
}

.crsl-content:hover p {
    cursor: pointer;
    background: #fff;
    opacity: 0.5;
}

.crsl-content:hover h3 {
    color: #b92e2f;
}

.carousel button {
    position: absolute;
    bottom: 50px;
    left: 43%;
    margin: 0 auto;
    padding: 10px 55px;
    font-size: 24px;
    font-family: UTM-Avo-Bold;
    color: #fff;
    background: #b92e2f;
    text-transform: uppercase;
    box-shadow: 2px 1px 1px #88887E;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.english-title {
    width: 90%;
    margin: 30px auto;
    height: auto;
    min-height: 680px;
}

.left-news {
    width: 870px;
    margin-right: 20px;
}

.left-news h3 {
    font-size: 18px;
    font-family: UTM-Avo-Bold;
    color: #b92e2f;
    text-align: left;
    float: left;
    width: 100%;
}

.english-news h2 {
    font-size: 18px;
    font-family: UTM-Avo-Bold;
    color: #b92e2f;
    text-align: center;
    padding: 0;
    margin: 0 0 30px;
    text-transform: uppercase;
}

.left-news p {
    font-size: 14px;
    font-family: UTM-Avo-Regular;
    color: #434343;
    margin: 30px auto;
}

.left-news img {
    width: 475px;
    height: 275px;
    margin: auto;
    display: block;
    border-radius: 15px;
}

.right-news {
    width: 280px;
}

.other-news {
    margin-bottom: 20px;
}

.other-news img {
    width: 100%;
    height: 180px;
    padding-bottom: 10px;
}

.other-news a {
    font-size: 14px;
    font-family: UTM-Avo-Regular;
    color: #434343;
}

.english-news {
    width: 100%;
    height: auto;
    display: block;
    margin: 30px 0;
    float: left
}

.news-box {
    width: 100%;
    float: left;
    border: 1px solid #e98283;
    border-radius: 10px;
    margin-bottom: 20px;
}

.news-box-left {
    float: left;
    width: 318px;
    height: auto;
}

.news-box-left img {
    width: 280px;
    height: 280px;
    margin: 20px;
    border-radius: 5px;
}

.news-box-right {
    float: right;
    width: 530px;
    margin: 20px 20px 20px 0;
}

.news-box-right h3 {
    color: #b92e2f;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #b92e2f;
    font-family: UTM-Avo-Regular;
    text-align: left;
    padding-bottom: 10px;
}

.news-box-right p {
    margin: 20px 0;
}

.news-box-right a {
    float: right;
    color: #b92e2f;
}

.right-news .hovereffect {
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}

.right-news .english-library {
    height: auto;
}

.right-news .library-video {
    height: auto;
}

.body-slider .container {
    padding: 0;
    margin: 0;
    width: 100% !important;
    height: 445px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel {
    height: 445px;
    width: 100%;
    margin-top: -22px;
}

.carousel-inner {
    height: 445px;
}

.carousel-inner img {
    height: 445px;
    width: 100% !important;
}

.carousel-control.right {
    background: url(../image/next-copy.png) no-repeat;
    opacity: 1;
    width: 50px;
    top: 190px;
    color: transparent;
    border: none;
    text-shadow: none;
    height: 25px;
}

.carousel-control.left {
    background: url(../image/pre-copy.png) no-repeat right;
    opacity: 1;
    width: 50px;
    top: 190px;
    color: transparent;
    border: none;
    text-shadow: none;
    height: 25px;
}

.carousel-indicators {
    left: 150px;
}

.main {
    display: none;
}

.screen {
    display: block;
}

.mobile {
    display: none;
}

.english-path {
    border-bottom: 1px solid #b92e2f;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.english-path a {
    font-size: 14px;
    font-family: UTM-Avo-Regular;
    color: #b92e2f;
    padding-right: 5px;
    padding-bottom: 5px;
    float: left;
}

.triangle {
    background: url("../image/triangle-icon.png") no-repeat 0;
    background-size: 8px 8px;
}

.english-path-parent {
    padding-left: 12px;
}

.english-path-selected {
    padding-left: 12px;
    color: #434343 !important;
    float: left;
}

.time-posted p {
    font-size: 12px;
    margin: 10px auto 20px;
    color: #434343;
    float: left;
    width: 100%;
}

.title-posted h3 {
    font-size: 18px;
    padding-bottom: 10px;
    font-family: UTM-Avo-Regular;
    color: #b92e2f;
    border-bottom: 1px solid #b92e2f;
    width: 100%;
    float: left;
    text-transform: uppercase;
}

.list-posted a {
    color: #b92e2f;
    float: left;
    padding: 10px 12px;
}

.paging-number {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.paging-number {
    text-align: center;
}

.paging-number ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 30%;
}

.paging-number ul li {
    float: left;
}

.paging-number ul li a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #565656;
    border: 1px solid #9e9e9e;
    height: 25px;
    margin: 8px 5px;
    padding: 0 8px;
    width: 25px;
}

.paging-number ul li a img {
    padding-bottom: 10px;
    width: 8px;
    height: 8px;
}

.paging-number ul li a:hover {
    background: #b92e2f none repeat scroll 0 0;
    border-radius: 50%;
    border: none;
    color: #fff;
    height: 25px;
    margin: 8px 5px;
    padding: 0 8px;
    width: 25px;
}

.paging-number ul li a.number-selected {
    background: #b92e2f none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    border: none;
    height: 25px;
    margin: 8px 5px;
    padding: 0 8px;
    width: 25px;
}

.paging-number ul li a.prev-number {
    margin-top: 9px;
}

.paging-number ul li a.next-number {
    margin-top: 9px;
}

.paging-number ul li a img {
    padding-top: 5px;
    width: 100%;
    height: auto;
}

.title-search input {
    font-size: 14px;
    border-radius: 10px;
    color: #a2a2a2;
    padding: 5px;
    background: url(../image/search-btn.png) no-repeat right;
    border: 1px solid #b92e2f;
    width: 100%;
    margin-bottom: 30px;
}

.equest-contact {
    width: 1240px;
    margin: 30px auto;
}

.contact-box {
    width: 100%;
    margin: 0 auto;
    float: left;
}

.contact-box-detail {
    width: 600px;
    margin: 0 auto;
}

.contact-box h3 {
    font-size: 18px;
    float: left;
    width: 100%;
    font-family: UTM-Avo-Bold;
    color: #b92e2f;
    text-transform: uppercase;
    text-align: center;
}

.contact-box-detail p {
    font-size: 14px;
    color: #434343;
    font-family: UTM-Avo-Bold;
    margin-top: 10px;
}

.contact-box-detail p span {
    color: #b92e2f;
}

.contact-box-detail input {
    width: 100%;
    padding: 5px;
    background: #f9f9f9;
    border: 1px solid #cccccc;
}

.sub:first-child {
    padding-left: 0;
    padding-right: 5px;
}

.sub:nth-child(2) {
    padding-right: 0;
    padding-left: 5px;
}

.contact-box-detail textarea {
    width: 100%;
    padding: 5px;
    background: #f9f9f9;
    border: 1px solid #cccccc;
    height: 210px;
    max-height: 210px;
    max-width: 100%;
}

.contact-box-detail button {
    padding: 20px 50px;
    background: #b92e2f;
    color: #fff;
    margin: 40px 220px;
    border-radius: 50px;
    box-shadow: 3px 2px 3px #ccc;
    border: none;
    font-size: 18px;
}

.contact-message {
    color: #b92e2f;
    font-size: 14px;
    text-align: center;
    float: left;
    width: 100%;
}

.equest-location {
    width: 1170px;
    float: left;
    margin: 0 30px;
}

.equest-position {
    border-bottom: 2px solid #b92e2f;
}

@media (min-width: 767px) {
    .col-half-offset {
        margin-left: 4.166666667%;
    }
}

.equest-position h6 {
    cursor: pointer;
    font-size: 14px;
    color: #434343;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}

.equest-position h6.selected {
    font-size: 14px;
    color: #b92e2f;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 5px solid #b92e2f;
    font-family: UTM-Avo-Bold;
}

.equest-position .col-md-2 {
    padding: 0;
}

.pos {
    padding: 0;
    width: 1170px;
    margin: 30px 0;
}

.pos-sub {
    height: auto;
    border: 1px solid #b92e2f;
    border-radius: 10px;
    padding: 0;
    margin: 8px;
    max-width: 280px;
    min-height: 160px;
}

.pos-sub h3 {
    font-size: 14px;
    color: #b92e2f;
    font-size: 14px;
    font-family: UTM-Avo-Regular;
    border-bottom: 1px solid #b92e2f;
    padding-bottom: 10px;
}

p.pos-phone {
    background: url(../image/phone.png) no-repeat 15px;
}

p.pos-address {
    background: url("../image/address.png") no-repeat 15px;
}

.pos-sub p {
    float: left;
    padding: 0 40px;
}

.pos-sub:first-child {
    margin-left: 0;
}

.pos-sub:nth-child(4n+1) {
    margin-left: 0;
}

.pos-sub:nth-child(4) {
    margin-right: 0px;
}

.pos-sub:nth-child(4n) {
    margin-right: 0;
}

ul.equest-position li.active a {
    border: none;
    border-bottom: 5px solid #b92e2f;
}

ul.equest-position li a:hover {
    border: none;
    background: none;
    font-family: UTM-Avo-Bold;
    color: #b92e2f;
    border-bottom: 5px solid #b92e2f;
}

ul.equest-position li.active a h6 {
    font-family: UTM-Avo-Bold;
    color: #b92e2f;
    text-transform: uppercase;
}

ul.equest-position li.active a:hover {
    border: none;
    background: none;
    font-family: UTM-Avo-Bold;
    color: #b92e2f;
    border-bottom: 5px solid #b92e2f;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
    border-bottom: 5px solid #b92e2f;
}